<!-- Stylesheets -->
<link rel="stylesheet" href="/css/habit.css">

<!-- Habit Name -->
<div>
    <h1 class="heading-name"><%=habit.habit_name%> </h1>
</div>


<!-- Date Filtering  -->
 
<div class="date-container ">
    
    <div>
      <b style="font-size: 25px; color: white;">From :</b>  
        <input type="date" name="start-date" id="start-date" class="date-picker" required>
    </div>
    <div>
        <b style="font-size: 25px;color: white;">To :</b> 
        <input type="date" name="end-date" id="end-date" class="date-picker" required> 
    </div>
    <button id="filter" type="submit"><i class="fas fa-search"></i></button>
</div>
 



<!-- Indicators -->
<div class="key">
    <span>Key:</span>
    <span style="color: gray;">Unmarked</span>
    <span style="color: green;">Done</span>
    <span style="color: red;">Not Done</span>
</div>


<!-- Making Habit Details... -->
<div class="habit-container">
    <ul id="item-list">
        <!-- <li class="list-item">
            <div class="date-div"></div>
            <div class="status"></div>
        </li> -->
    </ul>
</div>
<script src="/js/moment.js"></script>
 <script src="/js/habit.js"></script>
 

